* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(56, 105, 110);

   

}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #41cbf2;
    border-radius: 10px;
}
#tick {
    margin-bottom: -4px;
    font-size: 30px;
}
#information {
    margin-bottom: -4px;
    color: white;
}
.warning-alerts {
    margin-bottom: -4px;
}

.alert {
    width: 100%;
    font-size: x-large;
    height: 7vh;
    position: fixed;
    z-index: 400;
    display: block;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white; 
    padding-top: 7px;

}
.alert-success {
    background: rgb(38, 187, 83);
    color: white;
    
}
.alert-warning {
    background: rgba(196, 43, 16);
    color : rgb(255, 255, 255);
}
.alert-noti {
    background: rgb(39, 166, 250) ;
    color : #ffffff;
    
    
}
header {
    width: 100%;
    position: fixed;
    transition: 0.5s;
    z-index: 3;
    background: black;

}

nav{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.6s;




}

#cedeny_logo {
    width: 45%;
    z-index: -1;
}

nav h2 {
    font-family: 'Rajdhani', sans-serif;    
    font-size: 36px;
    color: rgb(255, 255, 255) ;
    z-index: -1;
}
#redirect-home {
    display: flex;
    align-items: center;
    width: 20%;
    text-decoration: none;
    z-index: 2;


}

#redirect-home div {
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    margin-left: auto;

   
}
li {
    margin: 20px;
    list-style: none;
    font-family: 'Abel', sans-serif;   
    font-size: 20px; 
}
li a {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width 0.25s ease-out;
}
li a:hover::before {
    width: 100%;

   
}
.sign-login-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #41cbf2;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;   
    transition: 0.5s;
    border-radius: 5px;
}
.sign-login-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.25s ease-out;

}
.sign-login-btn:hover::after {
    background: black;
}
.sign-login-btn span {
    display: block;
    position: absolute;
    background: #41cbf2;
}
.sign-login-btn span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;

    
}
.sign-login-btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.sign-login-btn span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.3s;

}
.sign-login-btn:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.sign-login-btn span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;

}
.sign-login-btn:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}
.sign-login-btn span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.3s;

}
.sign-login-btn:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: right;
    transition: transform 0.5s;
}
.signlogin {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgb(22, 22, 22, 0.8);
    z-index: 389;
    
    
        
}
.signlogin button {
    width: 91.5%;
    margin: auto;
}

.logout-btn{
    background: transparent;
    padding: 10px 25px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 2px;
    display: none;
    font-family: 'Abel', sans-serif;

}
.login-page {
    display: none;
}
.login-page-form {
    height: 70vh;
    margin-top: -160px;
    box-shadow: 0px 0px 30px 0px rgb(22, 22, 22) ;
    
}
form {
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 90px 100px;
    /* margin-bottom: -80px; */
    background: rgb(22, 22, 22);
    height: 90vh;

    
}
form:hover .sign-up-h2 {
    border-bottom: 1px solid white;
    color: white;

}

.sign-up-h2 {
    color: rgb(49, 49, 49);
    margin: 20px;
    border-bottom: 1px solid rgb(49, 49, 49);
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    transition: 0.2s ease;

}

input {
    margin: 15px 30px;
    width: 30vw;
    height: 7vh;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;   
    color: #41cbf2;
    transition: 0.3s ease;
    border: 1px solid rgb(49, 49, 49);
    background: rgb(49, 49, 49);
    outline: 2px solid rgb(49, 49, 49);
}

input:focus {
    outline: 2px solid #41cbf2;

}
.signin-btn {
    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid #41cbf2;
    background: #41cbf2;
    border-radius: 5px;   
    cursor: pointer;
    transition: 0.2s ease;
}
#cookies-p {
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Abel', sans-serif;

}
#cookies-p a {
    color: #41cbf2;
}
.signin-btn:hover{
    border: 1px solid #41cbf2;
    background: transparent;
    color: #41cbf2;
}
.login-btn-c {
    cursor: pointer;

    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;   
    margin-top: 20px;
    color: white;
    transition: 0.2s ease;
}
.login-btn-c:hover{
    border: 1px solid #41cbf2;
    color: #41cbf2;
}
.login-btn-loginpage {
    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid #41cbf2;
    background: #41cbf2;
    border-radius: 5px;   
    cursor: pointer;
    transition: 0.2s ease;
}
.signin-btn-loginpage {
    cursor: pointer;

    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;   
    margin-top: 20px;
    color: white;
    transition: 0.2s ease;
}
.signin-btn-loginpage:hover {
    border: 1px solid #41cbf2;
    color: #41cbf2;
}

.closePopup {
   color: white;
   font-size: 30px;
   margin-bottom: -160px;
   margin-left: auto;
   margin-right: 20px; 
   z-index: 5;
   cursor: pointer;
   transition: 0.2s ease;
}
.closePopup:hover {
    transform: scale(1.2);
}

.account-description {
    height: 100vh; 
    padding: 200px 30px 30px 30px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    font-size: 26px;
    font-family: 'Abel', sans-serif;
    display: grid;
    

    
}
.account-description div{
    /* margin: 30px; */
    width: 50%;
}
#des-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 10vh;
    margin-bottom: -100px;
}
#des-email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 10vh;
}
.edit-pencil {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 3px;    
    padding: 7px 5px;
    margin-left: 10px;
    background: white;
    font-size: 20px;
    color: black;
    font-family: 'Abel', sans-serif;

}
.account-input{
    background: white;
    width: 70%;
    margin-left: -1px;
    display: none;
    outline: none;
}


.edit-name-btn {
    height: 7.5vh;
    background: transparent;
    color: rgb(0, 163, 0);
    font-size: 30px;
    width: 9%;
    display:none;
    border-radius: 50px;
    border: 2px solid rgb(0, 163, 0);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease;  

}
.edit-name-btn ion-icon {
    margin-bottom: -5px;
}
.edit-email-btn {
    height: 7.5vh;
    background: transparent;
    color: rgb(0, 163, 0);
    font-size: 30px;
    width: 9%;
    display: none;
    border-radius: 50px;
    border: 2px solid rgb(0, 163, 0);
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    
}
.edit-email-btn ion-icon {
    margin-bottom: -5px;
}
.edit-name-btn:hover, .edit-email-btn:hover {
    background: rgb(0, 163, 0);
    color: white;
    border: 2px solid rgb(0, 163, 0);
}
#cross-name-input {
    height: 7.5vh;
    background: transparent;
    color: red;
    font-size: 35px;
    width: 9%;
    display: none;
    border-radius: 50px;
    border: 2px solid red;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    
}
#cross-name-input ion-icon {
    margin-bottom: -5px;
    /* border: 1px solid black; */
}
#cross-email-input {
    height: 7.5vh;
    background: transparent;
    color: red;
    font-size: 35px;
    width: 9%;
    display: none;
    border-radius: 50px;
    border: 2px solid red;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}
#cross-email-input ion-icon {
    margin-bottom: -5px;
    /* border: 1px solid black; */
}
#cross-email-input:hover, #cross-name-input:hover {
    background: red;
    color: white;
    border: 2px solid red;
}
#clearBtn {
    width: auto; 
    height: 15vh;
    padding: 10px;
    background: transparent;
    border: 2px solid red;
    color: red;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border-radius: 4px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.2s ease;
}
#clearBtn:hover {
    background-color: red;
    color: white;
}

@media  screen and (max-width: 500px) and (min-width: 0) {
   
    #redirect-home{
        width: 40%;
    }
    #input-div {
        width: 100%;
        
    }
    .edit-name-btn {
        margin-left: 0px;
        width: 25%;
        height: 10vh;
    }
    .edit-email-btn {
        margin-left: 0px;
        
        width: 25%;
        height: 10vh;
    }
    #cross-email-input {
        height: 10vh;
        margin-left: 0px;
        
        width: 25%;
    }



}


