* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("./images/1385324.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(22, 22, 22);
   

}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #fff;
    z-index: 999
} 
::-webkit-scrollbar {
    width: 4px;
    
}
::-webkit-scrollbar-thumb{
    background: rgb(65, 203, 242);
    border-radius: 10px;
}
#tick {
    margin-bottom: -4px;
    font-size: 30px;
}
#information {
    margin-bottom: -4px;
    color: white;
}
.warning-alerts {
    margin-bottom: -4px;
}

.alert {
    width: 100%;
    font-size: x-large;
    height: 7vh;
    position: fixed;
    z-index: 400;
    display: block;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: white; 
    padding-top: 7px;

}
.alert-success {
    background: rgb(38, 187, 83);
    color: white;
    
}
.alert-warning {
    background: rgba(196, 43, 16);
    color : rgb(255, 255, 255);
}
.alert-noti {
    background: rgb(39, 166, 250) ;
    color : #ffffff;
    
    
    
}
header {
    width: 100%;
    position: fixed;
    transition: 0.5s;
    z-index: 3;

}
nav{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.6s;




}

#cedeny_logo {
    width: 45%;
    z-index: -1;
}

nav h2 {
    font-family: 'Rajdhani', sans-serif;    
    font-size: 36px;
    color: white;
    z-index: -1;
    
}
#redirect-home {
    display: flex;
    align-items: center;
    width: 20%;
    text-decoration: none;
    z-index: 2;


}

#redirect-home div {
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    margin-left: auto;

   
}
li {
    margin: 20px;
    list-style: none;
    font-family: 'Abel', sans-serif;   
    font-size: 20px; 
}
li a {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    color: white;
    text-decoration: none;
}
li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.25s ease-out;
}
li a:hover::before {
    width: 100%;

   
}
.sign-login-btn {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #41cbf2;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;   
    transition: 0.5s;
    border-radius: 5px;
}
.sign-login-btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.25s ease-out;

}
.sign-login-btn:hover::after {
    background: black;
}
.sign-login-btn span {
    display: block;
    position: absolute;
    background: #41cbf2;
}
.sign-login-btn span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;

    
}
.sign-login-btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.sign-login-btn span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.3s;

}
.sign-login-btn:hover span:nth-child(2){
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.sign-login-btn span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.5s;

}
.sign-login-btn:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}
.sign-login-btn span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.3s;

}
.sign-login-btn:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: right;
    transition: transform 0.5s;
}
.signlogin {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: rgb(22, 22, 22, 0.8);
    z-index: 389;
    
    
        
}
#password-control {
    display: flex;

}
#look-password {
    position: absolute;
    color: white;
    margin-left: 29%;
    margin-top: 1.2%;
    font-size: 25px;
    padding: 10px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px; 
    cursor:pointer;
}
#dlook-password{
    cursor:pointer;

    position: absolute;
    color: white;
    margin-left: 29%;
    margin-top: 1.2%;
    font-size: 25px;
    padding: 10px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
}
#login-page-look-password {
    position: absolute;
    color: white;
    margin-left: 29%;
    margin-top: 1.2%;
    font-size: 25px;
    padding: 10px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px; 
    cursor:pointer;
}
#login-page-dlook-password {
    cursor:pointer;

    position: absolute;
    color: white;
    margin-left: 29%;
    margin-top: 1.2%;
    font-size: 25px;
    padding: 10px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
}

.signlogin button {
    width: 91.5%;
    margin: auto;
}

.logout-btn{
    background: transparent;
    padding: 10px 25px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 2px;
    display: none;
    font-family: 'Abel', sans-serif;

}
.login-page {
    display: none;
}
.login-page-form {
    height: 70vh;
    margin-top: -160px;
    box-shadow: 0px 0px 30px 0px rgb(22, 22, 22) ;
    
}
form {
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 90px 100px;
    /* margin-bottom: -80px; */
    background: rgb(22, 22, 22);
    height: 90vh;
    z-index: 400;

    
}
form:hover .sign-up-h2 {
    border-bottom: 1px solid white;
    color: white;

}

.sign-up-h2 {
    color: rgb(49, 49, 49);
    margin: 20px;
    border-bottom: 1px solid rgb(49, 49, 49);
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    transition: 0.2s ease;

}

input {
    margin: 15px 30px;
    width: 30vw;
    height: 7vh;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;   
    color: #41cbf2;
    transition: 0.3s ease;
    border: 1px solid rgb(49, 49, 49);
    background: rgb(49, 49, 49);
    outline: 2px solid rgb(49, 49, 49);
}

input:focus {
    outline: 2px solid #41cbf2;

}
.signin-btn {
    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid #41cbf2;
    background: #41cbf2;
    border-radius: 5px;   
    cursor: pointer;
    transition: 0.2s ease;
}
nav ion-icon {
    font-size: 25px;
}
#cookies-p {
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Abel', sans-serif;
    cursor: pointer;

}
#cookies-banner {
    cursor:pointer;
}
#cookies-p a {
    color: #41cbf2;
}
.signin-btn:hover{
    border: 1px solid #41cbf2;
    background: transparent;
    color: #41cbf2;
}
.login-btn-c {
    cursor: pointer;

    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;   
    margin-top: 20px;
    color: white;
    transition: 0.2s ease;
}
.login-btn-c:hover{
    border: 1px solid #41cbf2;
    color: #41cbf2;
}
.login-btn-loginpage {
    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid #41cbf2;
    background: #41cbf2;
    border-radius: 5px;   
    cursor: pointer;
    transition: 0.2s ease;
}
.signin-btn-loginpage {
    cursor: pointer;

    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid white;
    background: transparent;
    border-radius: 5px;   
    margin-top: 20px;
    color: white;
    transition: 0.2s ease;
}
.signin-btn-loginpage:hover {
    border: 1px solid #41cbf2;
    color: #41cbf2;
}

.closePopup {
   color: white;
   font-size: 30px;
   margin-bottom: -160px;
   margin-left: auto;
   margin-right: 20px; 
   z-index: 401;
   cursor: pointer;
   transition: 0.2s ease;
}
.closePopup:hover {
    transform: scale(1.2);
}

.first-section {
    width: 100%;
    height: 120vh;
    /* background-image: url("./images/1385324.png"); */
    display: flexs;

}
.first-section-right-content {
    position: absolute;
    margin-top: 300px;
    right: 0;
    margin-right: 7%;
    border: 1px solid white;
    padding: 25px;
    background: white;
    border-radius: 3px;
    max-width: 500px;
    box-shadow: 0px 0px 8px 0px white;
}
::-moz-selection {
    background:white;
    opacity: 0.5;
    color:#41cbf2;
}
::selection {
    background:white;
    opacity: 0.5;
    color:#41cbf2
}
.first-section-right-content h2{
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;}
.first-section-right-content #right-content-p{
    font-size: 20px;
    font-family: sans-serif;
    
}

.first-section div h1{
    position: absolute;
    margin-top: 300px;
    margin-left: 15%;
    color: white;
    font-size: 70px;
    font-family: 'Abel', sans-serif;

     
}
.first-section .header-text {
    position: absolute;
    margin-top: 390px;
    margin-left: 15%;
    color: white;
    font-size: 20px;
    font-family: 'Abel', sans-serif;

}
.first-section img {
    z-index: 999999;
}
.first-section button {
    position: absolute;
    margin-top: 460px;
    margin-left: 15%;
    color: black;
    font-size: 23px;
    font-weight: 800;
    font-family: 'Abel', sans-serif;
    background: white;
    padding: 15px 70px;
    border: 1px solid white;
    border-radius: 10px;

}
.first-section button:hover {
    cursor: pointer;
    
}


.second-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 900px; */
    padding-bottom: 100px;
    

    
}
.courses-btn-2 {
    width: 50%;
    height: 60px;
    margin-left: 23.5%;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    background: transparent;
    border: 1px solid #41cbf2;
    color: #41cbf2;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
    
}
.courses-btn-2::before{
    color: black;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #41cbf2;
    z-index: 1;

}
.courses-btn-2:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
    color: white;


   

}


/* @media screen and (min-width: 80vw){
    .two-sec-btw-div {
        padding: 500px 0px;
    }
} */
.sec-div {
    color: white;
    border-radius: 20px;
    font-family: 'Abel', sans-serif;
    height: 85vh;
    
    

}
.first-div {
    width: 30%;
    text-align: justify;
    border : 1px solid rgb(173, 173, 173);   
    height: auto;
    padding-bottom: 16px;

}
.first-div ion-icon {
    font-size: 30px;
    background-color: white;
    border-radius: 150px;
    padding: 21px 21px;
    margin: 20px;
    color: black;
    box-shadow: 0px 0px 35px 0px rgb(225, 225, 225);
    
}
.first-div h2 {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin: 10px;
    text-align: center;

}
.first-div p{
    margin: 20px; 
    font-size: 20px;
}
.second-div {
    background-color: transparent;
    border : 1px solid rgb(173, 173, 173);   
    width: 30%;
    text-align: justify;
    height: auto;
    padding-bottom: 20px;

}
.second-div ion-icon {
    font-size: 30px;
    background-color: white;
    border-radius: 150px;
    padding: 20px 20px;
    margin: 20px;
    color: black;
    box-shadow: 0px 0px 35px 0px rgb(225, 225, 225);;


}
.second-div h2 {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin: 10px;
    text-align: center;
    color: white;

}
.second-div p{
    margin: 20px;
    font-size: 20px;
    color: white;

}
.next-div {
    background-color: transparent;
    width: 30%;
    text-align: justify;
    color: white;
    height: auto;
    border : 1px solid rgb(173, 173, 173);   
    padding-bottom: 20px;


}   
.next-div ion-icon {
    font-size: 27px;
    background-color: rgb(255, 255, 255);
    border-radius: 150px;
    padding: 21px 22px;
    margin: 20px;
    box-shadow: 0px 0px 35px 0px rgb(225, 225, 225);;
    color: black;

}
.next-div button {
    margin-left: 25%;
}
.next-div h2 {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin: 10px;
    text-align: center;
    margin-top: 0;


}
.next-div p{
    margin: 20px;
    font-size: 20px;
    margin-top: -2px;

}
.interested{
    border: 1px solid white;
}
.interested h2 {
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

.cookies-p {
    font-family: 'Abel', sans-serif;
        
}
.cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    box-sizing: border-box;
    width: 10%;
    height: 4%;
    margin-left: 20px;
    background-color: #5f5f5f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    text-align: center;
    padding-top: 5px;
    color: white;
    transition: 0.3s ease;
  }
  
  .cookie-consent-banner__inner {     
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
  }
  
  .cookie-consent-banner__copy { 
    margin-bottom: 16px;
  }
  
  .cookie-consent-banner__actions {    
  }
  
  .cookie-consent-banner__header {
    margin-bottom: 8px;
    
    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  
  .cookie-consent-banner__description {
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
  }
  
  .cookie-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
    border: 2px solid #2CE080;
    border-radius: 2px;
    
    background-color: transparent;
     
    color: #2CE080;
    text-decoration: none;
    text-align: center;
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    transition: 0.2s ease;
  }
  
  .cookie-consent-banner__cta--secondary { 
    padding: 11px 13px;
    
    border: 2px solid #b9210d;
    
    background-color: transparent;
    
    color: #b9210d;
    transition: 0.2s ease;
  }
  
  .cookie-consent-banner__cta:hover {
    background-color: #2CE080;
    color: white;
  }
  .cookie-consent-banner__cta:active {
      transform: scale(0.9);
  }
  .cookie-consent-banner__cta--secondary:hover {
    border-color: #8f1909;
      
    background-color: #8f1909;
    
    color: white;
  }
  
  .cookie-consent-banner__cta:last-child {
    margin-left: 16px;
  }
  
  footer{
      border-top: 1px solid white;
      color: white;
      
  }
  footer ul {
      display: grid;
      /* border: 1px solid white; */
      margin-left: 20px;
      list-style: none;
  }
  .copy-div {
    text-align: center;
    padding: 20px 0;
  }
  .menu-btn {
      display: none;
      
  }
  .menu-btn.open .menu-btn_burger{
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
  }
  .menu-btn.open .menu-btn_burger::before{
      transform: rotate(45deg) translate(35px, -35px);

  }
  .menu-btn.open .menu-btn_burger::after{
      transform: rotate(-45deg) translate(35px, 35px);
  }
  #menu-bg-ingre {
      display: none;
  }
  @media  screen and (max-width: 500px) and (min-width: 0) {
      body {
          background-image: none;
      }
      .first-section{
          background: url(./images/1385324.png);
          background-size: cover;
          background-position-x: -90%;
          
      }
               
        #pc-ul{
          display: none;
        }  
        header {
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99;

        }
        #cedeny_logo{
         width: 70%;
         
        }
        nav h2 {
            font-size: 35px;
            color: white;
            margin-top: 10px;


        }
        nav {
            display: flex;
            justify-content: space-between;
            
        }
        
      .menu-btn {
          position: relative;
          display: grid;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          cursor: pointer;
          transition: all .5s ease-in-out;
          margin-right: 20px;
          border-radius: 5px;
          
          
          
      }
      .menu-btn_burger{
          width: 25px;
          height: 3px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(255,101,47, .2);
          transition: all .2s ease-in-out;

      }
      .menu-btn_burger::before,
      .menu-btn_burger::after {
          content: '';
          position: absolute;
          width: 25px;
          height: 3px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(255,101,47,.0);
          transition: all .5s ease-in-out;

      }
      .menu-btn_burger::before{
        transform: translateY(-12px);
    }
    .menu-btn_burger::after{
        transform: translateY(12px);
    }
    .menu-btn_bg{
        background: black;
        opacity: 0.9;
        width: 100%;
        height: auto;
        margin-top: -2000px;
        display: flex;
        transition: 1s ease;
        position: absolute;
        z-index: -99;
        align-items: center;
        justify-content: center;
        
    }
    #signup-mobile{
        margin-left: 20%;
        margin-top: -20px;
        display: block;

    }
    #menu-bg-ingre {
        position: relative;
        margin-top: 400px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    #burger-menu-ul {
        display: grid;
        text-align: center;
        margin-top: -50px;
    }
    #burger-menu-ul li {
        border-bottom: 1px solid white;

    }
    #burger-menu-ul li a{
        color: white;
    }
    /* #signin{
        display: block; 
    } */
    /*kanka burda kaldın buraları hallet
    cookies de var
    alert control
    */
      .second-section{
          display: grid;
          margin-top: 100px;
      }
      .second-section div{
          width: 95%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 10px;
          margin-top: 30px;
      }
      header nav .sign-login-btn{
          display: block;
          margin-left: auto;
          
          padding: 15px 2px 15px 30px;
          font-size: 20px;          


      }
      .cedeny-header-text{
          display: none;
      }
      #cedeny_logo {
          width: 100%;
      }
      .signlogin {
        display: none;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        background: rgb(22, 22, 22, 0.8);
        z-index: 389;
        
        
            
    }
    .alert {
        height: 10vh !important;
    }
    nav ion-icon{
        font-size: 26px;
    }
    #password-control {
        display: flex;
    
    }
    #look-password {
        position: absolute;
        color: white;
        margin-left: 85%;
        margin-top: 4.2%;
        font-size: 30px;
        padding: 10px;
        border-top-right-radius: 20px ;
        border-bottom-right-radius: 20px; 
        cursor:pointer;
    }
    #dlook-password{
        cursor:pointer;
    
        position: absolute;
        color: white;
        margin-left: 85%;
        margin-top: 4.2%;
        font-size: 30px;
        padding: 10px;
        border-top-right-radius: 20px ;
        border-bottom-right-radius: 20px;
    }
    #login-page-look-password {
        position: absolute;
        color: white;
        margin-left: 85%;
        margin-top: 5%;
        font-size: 30px;
        padding: 10px;
        border-top-right-radius: 20px ;
        border-bottom-right-radius: 20px; 
        cursor:pointer;
    }
    #login-page-dlook-password {
        cursor:pointer;
    
        position: absolute;
        color: white;
        margin-left: 85%;
        margin-top: 5%;
        font-size: 30px;
        padding: 10px;
        border-top-right-radius: 20px ;
        border-bottom-right-radius: 20px;
    }
    
    .signlogin button {
        width: 91.5%;
        margin: auto;
    }
    .alert {
        height: 8vh;
    }
    .logout-btn{
        background: transparent;
        padding: 10px 25px;
        border: 1px solid black;
        font-size: 20px;
        border-radius: 2px;
        display: none;
        font-family: 'Abel', sans-serif;
    
    }
    .login-page {
        display: none;
    }
    .login-page-form {
        height: 70vh;
        margin-top: -160px;
        box-shadow: 0px 0px 30px 0px rgb(22, 22, 22) ;
        
    }
    form {
        border-radius: 10px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 90px 100px;
        /* margin-bottom: -80px; */
        background: rgb(22, 22, 22);
        height: 90vh;
    
        
    }
    form:hover .sign-up-h2 {
        border-bottom: 1px solid white;
        color: white;
    
    }
    
    .sign-up-h2 {
        color: rgb(49, 49, 49);
        margin: 20px;
        border-bottom: 1px solid rgb(49, 49, 49);
        text-align: center;
        padding-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        transition: 0.2s ease;
    
    }
    
    input {
        margin: 15px 30px;
        width: 90vw;
        height: 7vh;
        padding-left: 20px;
        border-radius: 25px;
        font-size: 20px;
        font-family: 'Abel', sans-serif;   
        color: #41cbf2;
        transition: 0.3s ease;
        border: 1px solid rgb(49, 49, 49);
        background: rgb(49, 49, 49);
        outline: 2px solid rgb(49, 49, 49);
    }
    
    input:focus {
        outline: 2px solid #41cbf2;
    
    }
    .signin-btn {
        padding: 10px;
        font-size: 20px;
        font-family: 'Abel', sans-serif;
        border: 1px solid #41cbf2;
        background: #41cbf2;
        border-radius: 5px;   
        cursor: pointer;
        transition: 0.2s ease;
    }
    #cookies-p {
        color: white;
        text-align: center;
        padding: 20px 0px;
        font-family: 'Abel', sans-serif;
        cursor: pointer;
    
    }
    #cookies-banner {
        cursor:pointer;
    }
    #cookies-p a {
        color: #41cbf2;
    }
    .signin-btn:hover{
        border: 1px solid #41cbf2;
        background: transparent;
        color: #41cbf2;
    }
    .login-btn-c {
        cursor: pointer;
    
        padding: 10px;
        font-size: 20px;
        font-family: 'Abel', sans-serif;
        border: 1px solid white;
        background: transparent;
        border-radius: 5px;   
        margin-top: 20px;
        color: white;
        transition: 0.2s ease;
        
    }
    .login-btn-c:hover{
        border: 1px solid #41cbf2;
        color: #41cbf2;
    }
    .login-btn-loginpage {
        padding: 10px;
        font-size: 20px;
        font-family: 'Abel', sans-serif;
        border: 1px solid #41cbf2;
        background: #41cbf2;
        border-radius: 5px;   
        cursor: pointer;
        transition: 0.2s ease;
    }
    .signin-btn-loginpage {
        cursor: pointer;
    
        padding: 10px;
        font-size: 20px;
        font-family: 'Abel', sans-serif;
        border: 1px solid white;
        background: transparent;
        border-radius: 5px;   
        margin-top: 20px;
        color: white;
        transition: 0.2s ease;
    }
    .signin-btn-loginpage:hover {
        border: 1px solid #41cbf2;
        color: #41cbf2;
    }
    
    .closePopup {
       color: white;
       font-size: 40px;
       /* margin-top: -50px; */
       margin-left: auto;
       margin-right: 140px;
       margin-top: -70px;
       z-index: 1545645645;
       cursor: pointer;
       transition: 0.2s ease;
    }
    .closePopup:hover {
        transform: scale(1.2);
    }
    .cookie-consent-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 200;
        box-sizing: border-box;
        width: 23%;
        height: 5%;
        margin-left: 20px;
        background-color: #5f5f5f;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
        text-align: center;
        padding-top: 5px;
        color: white;
        transition: 0.3s ease;
        font-size: 20px;
      }
      .signlogin{
          width: 100%;
      }
      #signin-form {
          width: 100%; 
          margin-left: auto;
          margin-right: auto;
          margin-top: -140px;


      }
     
      .first-section-right-content {
          margin-top: 300px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          border-radius: 0;
          text-align: center;
          padding: 25px 10px 25px 10px;

      }
      #right-content-h2 {
      }
      .header-h {
          text-align: center;
          margin-top: 140px !important;
          width: 100%;
          margin-left: 0px !important;
          
      }
      .header-text {
          width: 90%;
          text-align: center;
          margin-left: 20px !important;
          margin-top: 230px !important;



      }
     /* .first-section-texts {
        text-align: center;
     } */
     .first-section a .courses-btn {
      margin-left: 75px !important;
      display: none;
     }
     /* .header-text {
         margin-left: -120px;
     } */
    
    }
  